@page
@model Frontend.Pages.CTorneoEquipo.CreateModel
@{
     ViewData["Title"]= "Crear Torneo";
 }
<h2>Adicionar TorneoEquipo</h2>
<h3 class="text-danger">@ViewData["Error"]</h3>

<div class="form-horizontal">
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

               

                <div class="form-group">
                    <label asp-for="TorneoEquipo.TorneoId" class="control-label"></label>
                    <select asp-for="TorneoEquipo.TorneoId" class="form-control">
                        <option value="">--Seleccione un Torneo--</option>
                        @foreach (var tor in Model.Torneos)
                        {
                            <option value="@tor.Id">@tor.Nombre</option>                            
                        }

                    </select>
                    <span asp-validation-for="TorneoEquipo.TorneoId" class="text-danger"></span>
                   </div>                
        <br/>

                    <div class="form-group">
                    <label asp-for="TorneoEquipo.EquipoId" class="control-label"></label>
                    <select asp-for="TorneoEquipo.EquipoId" class="form-control">
                        <option value="">--Seleccione un Equipo--</option>
                        @foreach (var Equ in Model.Equipos)
                        {
                            <option value="@Equ.Id">@Equ.Nombre</option>                            
                        }

                    </select>
                    <span asp-validation-for="TorneoEquipo.EquipoId" class="text-danger"></span>
                </div>     


                <br/>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                    <a asp-page="Index" class="btn btn-info">Cancelar</a>
                </div>
            </form>
        </div>
    </div>    
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


